/* Show the appropriate part of the panel based on the current state. */

#acct-auth-popup {
    -moz-appearance: none;
}
#acct-auth-popup > * {
    display: none;
}
#acct-auth-popup[state=""] > #acct-auth-popup-can-register,
#acct-auth-popup[state="signed_in"] > #acct-auth-popup-signed-in,
#acct-auth-popup[state="signed_out"] > #acct-auth-popup-signed-out {
  display: -moz-box;
}
