#acct-auth-icon[state="disabled"] {
  list-style-image: url("chrome://weave-identity/skin/auth-disabled.png");
}

#acct-auth-icon[state="enabled"] {
  list-style-image: url("chrome://weave-identity/skin/auth-enabled.png");
}

#acct-auth-icon[state="auto"] {
  list-style-image: url("chrome://weave-identity/skin/auth-auto.png");
}


/* Show the appropriate part of the panel based on the current state. */

#acct-auth-popup-disabled,
#acct-auth-popup-enabled,
#acct-auth-popup-auto {
  display: none;
}

#acct-auth-popup[state="disabled"] > #acct-auth-popup-disabled,
#acct-auth-popup[state="enabled"] > #acct-auth-popup-enabled,
#acct-auth-popup[state="auto"] > #acct-auth-popup-auto {
  display: -moz-box;
  padding: 5px;
}

/* Show the specified message. */

#acct-auth-message-unencrypted {
  display: none;
}

#acct-auth-popup[message="unencrypted"] > #acct-auth-message > #acct-auth-message-unencrypted {
  display: -moz-box;
}
